/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
#root {
  min-width: 400px;
  max-width: 500px;
  height: 500px;
}

.main-box {
  @apply bg-orange-50 text-2xl border-2 border-gray-300 shadow-sm p-8 overflow-y-auto flex flex-col gap-6 items-center justify-start;
}

/* Base class for the card */
.tone-card {
  @apply text-white text-center flex-col p-4  font-semibold text-lg rounded-lg shadow-lg flex w-[150px] h-[120px] items-center justify-center;
}

/* Color variants for different tones */
.tone-card-purple {
  @apply bg-gradient-to-r from-purple-500 to-purple-700;
}

.tone-card-orange {
  @apply bg-gradient-to-r from-orange-400 to-orange-600;
}

.tone-card-pink {
  @apply bg-gradient-to-r from-pink-500 to-pink-700;
}

.tone-card-blue {
  @apply bg-gradient-to-r from-blue-400 to-blue-600;
}

.tone-card-yellow {
  @apply bg-gradient-to-r from-yellow-400 to-yellow-600;
}

.tone-card-green {
  @apply bg-gradient-to-r from-green-400 to-green-600;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.fade-in-up:nth-child(1) {
  animation-delay: 0.2s;
}

.fade-in-up:nth-child(2) {
  animation-delay: 0.4s;
}

.toggle-switch {
  appearance: none;
  width: 40px;
  height: 20px;
  background: gray;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.toggle-switch:checked {
  background: #4ade80; /* Green for active */
}

.toggle-switch::before {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.toggle-switch:checked::before {
  transform: translateX(20px);
}

.tone-suggestion-box {
  position: absolute;
  z-index: 1000;
  padding: 8px;
  background: white;
  border: 1px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  max-width: 300px;
  word-wrap: break-word;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-fade-out {
  animation: fade-out 2s ease-in forwards;
}
